.diagram-component {
    width: 100%;
    height: 80vh;
    border: solid 1px black;
    background-color: white;
}

.p-confirm-popup {
    font-size: 14px;

    .p-confirm-popup-footer {
        button {
            font-size: 14px;
            padding: 6px 8px;
        }
    }
}