

.registerTopic{
    width: 100%;
    .mainRegister{
        width: 100%;
        padding: 10px 0%;
        .form{
            padding: 30px 5%;
            width: 100%;
            border: 10px;
            background-color: #ffffff;
            .titleForm{
                font-size: 25px;
                color: rgb(52, 52, 225);
            }
            .row1{
                margin-top: 25px;
                .item{
                    width: 40%;
                    .label{
                        color: #595656;
                        font-weight: 600;
                        font-size: 14px;
                    }
                    input{
                        width: 100%;
                        border: 1px solid #D1C6C6;
                        font-size: 14px;
                        padding: 10px 25px;
                        border-radius: 5px;
                    }
                }
            }
            .row2{
                margin-top: 25px;
                .item{
                    width: 100%;
                    .label{
                        color: #595656;
                        font-weight: 600;
                        font-size: 14px;
                    }
                    textarea{
                        padding: 4px 2%;
                        width: 100%;
                        border: 1px solid #D1C6C6;
                        height: 150px;
                    }
                }
            }
            .row3{
               
                margin-top: 25px;
                .item{
                    width: 30%;
                    .label{
                        color: #595656;
                        font-weight: 600;
                        font-size: 14px;
                    }
                    .select{
                        width: 100%;
                        border: 1px solid #D1C6C6;
                        padding: 10px 25px;
                        border-radius: 4px;
                    }
                }
            }
            .row4{
                margin-top: 25px;
                .btnRegister{
                    padding: 10px 20px;
                    background-color: #2d4dcf;
                    border-radius: 5px;
                    color: #ffffff;
                    border: none;
                }
            }
        }
    }
}